<!DOCTYPE html>
<html lang="ja">
  
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <!--script src="https://code.highcharts.com/highcharts.js"></script-->
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>




	<script src="/javascripts/sem_app.js"></script>


	<table class="table">
		<tbody>
			<tr>
			</tr>
		</tbody>
	</table>
	
	<div class="container" id="container">
		<div class="well">
			<h1>
				Smart Energy Meter Demo
			</h1>
			<div>
				<p>Demo to fetch instant powers from an smart meter via Wi-SUN Route-B.</p>
				<p>ECHONET Lite protocol is used for a middleware to communicate between the meter and a Wi-SUN module BP35A1 installed in a Raspberry Pi.</p>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					Power Usage
				</h3>
			</div>
			<div class="panel-body">
				<p id="inst-power">
					- - - -
				</p>
				<div class="progress progress-striped active">
					<div id="progress-bar" class="progress-bar">
					</div>
				</div>
			</div>
		</div>
		<div id="chart-container" style="min-width: 310px; max-width: 400px; height: 320px; margin: 0 auto;"></div>
		<div id="history-container" style="height: 400px; min-width: 310px"></div>
		<div><p></p></dev>
		
		<div class="pull-right">
			Copyright (C) 2016 pi@blue-black.ink
		</div>
	</div>
</body>

</html>
