<!DOCTYPE html>
<html lang="ja">
  
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
<<<<<<< HEAD
    <!--script src="https://code.highcharts.com/modules.exporting.js"></script-->
=======
    <script src="https://code.highcharts.com/modules.exporting.js"></script>
>>>>>>> b53255d34bc51b351d58b4d6374a4ad402dcd64d

	<script src="/javascripts/sem_app.js"></script>

	<div class="container" id="container">
    
        <div class="btn-group" style="margin: 1em 0;">
            <a href="/" class="btn btn-default" target="">Pow usage</a>
            <a href="/history/" class="btn btn-default">Pow history</a>
        </div>

        <div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Power usage</h3>
			</div>
<<<<<<< HEAD
            <div class="panel-body">
                <p id="inst-power">
                    - - - -
                </p>
                <div class="progress progress-striped active">
                    <div id="progress-bar" class="progress-bar"></div>
                </div>
                
                <div id="chart-container" style="min-width: 250px; max-width: 320px; height: 320px; margin: 0 auto;"></div>

            </div>
        </div>
=======
			<div class="panel-body">
				<p id="inst-power">
					- - - -
				</p>
				<div class="progress progress-striped active">
					<div id="progress-bar" class="progress-bar">
					</div>
				</div>
			</div>
		</div>
		<div id="chart-container" style="min-width: 310px; max-width: 400px; height: 320px; margin: 0 auto;"></div>
		<div><p></p></dev>
>>>>>>> b53255d34bc51b351d58b4d6374a4ad402dcd64d
		
		<div class="pull-right">
			Copyright (C) 2016 pi@blue-black.ink
		</div>
	</div>
</body>

</html>
